*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup__header{
  font-size: medium;
}
.form__container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 20rem;
}

.form__container>input{
  margin: 1rem 0;
  padding: 0.6rem;
}

.signup__error{
  
  font-size: small;
  display: block;
}
.error{
  margin: 1rem 0;
}
.signup__error > p{
  color: red;
}

.button__signup{
  padding: 0.5rem;
  background-color: black;
  color: whitesmoke;
  border: 1px solid black;
  margin: 1rem 0;
}